header {
  background-color:   #54b4ac;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1vh solid #423a2c;
}

header h1 {
    font-size: 8.5vh;
    color: #000;
}